@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: roboto condensed, arial, sans-serif;
    margin: 0 6% 0 6%;
    background-color: #000B0F;
}

/* Code for creation of grid, created by W3C and taken from their website, https://www.w3schools.com/css/css_rwd_grid.asp */

[class*="col-"] {
    float: left;
    border: 1px solid grey;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* Logo and navigation bar */

#logo {
    font-family: montserrat subrayada, arial, sans-serif;
    text-transform: capitalize;
    font-size: x-large;
    line-height: 100px;
}

.nav-items {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    float: right;
    line-height: 85px;
    margin-top: 15px;
}



/* Intro section */

#intro-image {
    background: url("../images/happy-group-large.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;

}

/* About us-section */

#about-image {
    background: url("../images/stage-group-large.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;
}

/* Contact section */

#contact-image {
    background: url("../images/five-girls-large.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;
}

/* Code [class*="col-"] for creation of grid is created by W3C and taken from their website, https://www.w3schools.com/css/css_rwd_grid.asp */
/* For mobile devices, from 320px to 480px */

@media only screen and (min-width: 320px) and (max-width: 480px) {

    [class*="col-"] {
        width: 100%;
    }

    #intro-image, #about-image, #contact-image {
        min-height: 250px;
    }

}

/* Code [class*="col-"] for creation of grid is created by W3C and taken from their website, https://www.w3schools.com/css/css_rwd_grid.asp */
/* For tablet devices, from 481px to 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    [class*="col-"] {
        width: 100%;
    }

    #intro-image, #about-image, #contact-image {
        min-height: 250px;
    }

    #contact-image {
        background-position: top;
    }

}