@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: "roboto condensed", arial, sans-serif;
    margin: 0 6% 0 6%;
    background-color: #000B0F;
}

/* Code below, for creation of grid with rows and column width, is created by W3C and taken 
from their website https://www.w3schools.com/css/css_rwd_grid.asp */

[class*="col-"] {
    float: left;
    border: 0.2px solid #000B0F;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Logo and navigation bar */

header a {
    text-decoration: none;
}

h1 {
    font-family: "montserrat subrayada", arial, sans-serif;
    text-transform: capitalize;
    font-size: xx-large;
    line-height: 100px;
    color: white;
}

h1:hover {
    color: #25d3d6;
}

.nav-items {
    text-transform: uppercase;
    color: white;
    float: right;
    line-height: 90px;
    font-size: medium;
}

.nav-items:hover {
    color: #FF57C7;
}

.nav-items p {
    margin-top: 10px;
}

/* Sections at home page */

#intro-text,
#about-text,
#contact-text {
    height: 400px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Intro section */

#intro-text h2 {
    text-align: center;
    font-size: xxx-large;
    letter-spacing: 6px;
    margin: 100px 10px 0 10px;
}

.joy {
    color: #FF57C7;
}

#dancing {
    color: #25d3d6;
}

#intro-image {
    background: url("../images/happy-group-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;
}

/* About us-section */

#about-text {
    padding: 20px;
}

#about-text h2 {
    font-size: x-large;
    margin-top: 20px;
}

#about-text p {
    font-size: large;
    margin-top: 20px;
}

#about-text a {
    color: #FF57C7;
    text-decoration: none;
}

#about-text a:hover {
    color: white;
}

#about-image {
    background: url("../images/stage-group-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;
}

/* Contact section */

#contact-text {
    padding: 20px;
    text-align: center;
}

#contact-text h2 {
    font-size: x-large;
    margin-top: 70px;
}

#contact-text p {
    font-size: large;
    margin-top: 80px;
    line-height: 40px;
}

#contact-image {
    background: url("../images/five-girls-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 400px;
}

/* Footer */

footer {
    background-color: #25d3d6;
    text-align: center;
    height: 98px;
    clear: both;
}

footer div {
    background-color: #25d3d6;
}

.footer-items {
    line-height: 95px;
    color: #000B0F;
    font-size: large;
    border: 0.2px solid #25d3d6;
}

.footer-border {
    border: 0.2px solid #25d3d6;
}

/* Classes page */

#classes-heading {
    margin-top: 20px;
}

#studio-info {
    font-size: large;
    margin: 20px 0;
}

.classes {
    min-height: 65vh;
}

.schedule {
    margin: 0 0 20px 0;
}

.schedule th {
    text-align: left;
    font-size: small;
}

.schedule td {
    text-align: left;
    font-size: small;
    line-height: 20px;
}

.sign-up-link {
    clear: both;
    text-decoration: none;
}

.sign-up-link:hover {
    color: white;
}

#jazz-image {
    background: url("../images/jazz-medium.jpg") no-repeat top;
    background-size: cover;
    min-height: 200px;
}

#hiphop-image {
    background: url("../images/hiphop-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 200px;
}

#ballet-image {
    background: url("../images/ballet-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 200px;
}

#contemporary-image {
    background: url("../images/contemporary-medium.jpg") no-repeat center;
    background-size: cover;
    min-height: 200px;
}

/* Sign up-page */

form {
    height: 650px;
}

form p {
    margin: 30px 0 0 0;
}

fieldset {
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: 90%;
}

legend {
    margin: 20px 20px;
}

label {
    margin: 10px 0 0 20px;
}

input {
    margin: 0 0 10px 20px;
    width: 80%;
    background-color: white;
}

#button {
    margin: 30px 0 40px 50px;
    width: 80px;
    height: 50px;
    background-color: #FF57C7;
    color: #000b0f;
    font-size: 15px;
    font-family: "roboto condensed", arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid #FF57C7;
    border-radius: 30%;
}

#button:hover {
    background-color: white;
}

placeholder {
    font-size: 10px;
}

/* Thank you-page */

#thank-you {
    min-height: 65vh;
    margin-top: 40px;
}

/* For mobile devices, from 320px to 480px */

@media only screen and (min-width: 320px) and (max-width: 480px) {

    /* Code [class*="col-"] below, for creation of responsive columns, is created by W3C and taken 
    from their website, https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
    [class*="col-"] {
        width: 100%;
    }

    /* Logo and navigation bar */

    #spacing-nav {
        width: 0;
    }

    h1 {
        font-size: x-large;
        text-align: center;
        line-height: 60px;
    }

    .nav-items {
        line-height: 20px;
        margin: 0;
        text-align: center;
        float: none;
        font-size: small;
    }

    .nav-items p {
        margin: 0;
    }

    /* Sections at home page */

    #intro-text,
    #about-text,
    #contact-text {
        height: 250px;
    }

    #intro-image {
        margin-top: 20px;
    }

    #intro-text h2 {
        font-size: x-large;
        margin-top: 70px;
    }

    #about-text h2 {
        font-size: medium;
        margin-top: 10px;
        text-align: center;
    }

    #about-text p {
        font-size: small;
        margin-top: 15px;
        text-align: center;
    }

    #contact-text {
        padding: 10px;
    }

    #contact-text h2 {
        font-size: medium;
        margin-top: 50px;
    }

    #contact-text p {
        font-size: x-small;
        margin-top: 30px;
        line-height: 25px;
    }

    #intro-image,
    #about-image,
    #contact-image {
        min-height: 250px;
    }

    /* Footer */

    .spacing-footer {
        width: 0;
    }

    footer {
        height: 65px;
    }

    .footer-items {
        line-height: 18px;
        float: none;
        font-size: small;
    }

    /* Classes page */

    hr {
        border: 0.1px solid gray;
        margin: 20px 10px;
    }

    .classes {
        min-height: 0;
        height: 400px;
    }

    #classes-heading {
        font-size: medium;
        margin-top: 30px;
    }

    #studio-info {
        font-size: small;
    }

    .schedule td {
        font-size: small;
        line-height: 20px;
    }
}

/* For tablet devices, from 481px to 768px */

@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* Code [class*="col-"] below, for creation of responsive columns, is created by W3C and taken 
    from their website, https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
    [class*="col-"] {
        width: 100%;
    }

    /* Logo and navigation bar */

    #spacing-nav {
        width: 0;
    }

    h1 {
        line-height: 60px;
        font-size: xx-large;
        text-align: center;
    }

    .nav-items {
        line-height: 20px;
        margin-top: 0;
        text-align: center;
        float: none;
        font-size: medium;
    }

    .nav-items p {
        margin-top: 0;
    }

    /* Sections at home page */

    #intro-text,
    #about-text,
    #contact-text {
        height: 250px;
    }

    #intro-image {
        margin-top: 20px;
    }

    #intro-text h2 {
        font-size: xx-large;
        margin-top: 70px;
    }

    #about-text h2 {
        font-size: large;
        margin-top: 10px;
        text-align: center;
    }

    #about-text p {
        font-size: small;
        margin-top: 15px;
        text-align: center;
    }

    #contact-text {
        padding: 10px;
    }

    #contact-text h2 {
        font-size: large;
        margin-top: 50px;
    }

    #contact-text p {
        font-size: small;
        margin-top: 40px;
        line-height: 25px;
    }

    #intro-image,
    #about-image,
    #contact-image {
        min-height: 250px;
    }

    #contact-image {
        background-position: top;
    }

    /* Footer */

    .spacing-footer {
        width: 0;
    }

    footer {
        height: 70px;
    }

    .footer-items {
        line-height: 18px;
        float: none;
        font-size: small;
    }

    /* Classes page */

    hr {
        border: 0.1px solid gray;
        margin: 20px 10px;
    }

    .classes {
        min-height: 0;
        height: 450px;
    }

    #classes-heading {
        font-size: large;
        margin-top: 30px;
    }

    #studio-info {
        font-size: small;
    }

    /* Used this site https://css-tricks.com/multiple-class-id-selectors/ understand how to build this selector */
    .schedule.col-11 {
        width: 60%;
    }

    #jazz-image,
    #hiphop-image,
    #ballet-image,
    #contemporary-image {
        min-height: 250px;
    }

    #hiphop-image {
        background-position: bottom;
    }
}

/* For tablet devices, from 769px to 1024px */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    /* Logo and navigation bar */

    h1 {
        font-size: xx-large;
    }

    .nav-items {
        text-align: right;
        float: none;
        font-size: medium;
    }

    .nav-items p {
        margin-top: 7px;
    }

    /* Sections at home page */

    #intro-text,
    #about-text,
    #contact-text {
        height: 250px;
    }

    #intro-text h2 {
        font-size: xx-large;
        margin-top: 60px;
    }

    #about-text h2 {
        font-size: large;
        margin-top: 10px;
    }

    #about-text p {
        font-size: small;
        margin-top: 15px;
    }

    #contact-text {
        padding: 10px;
    }

    #contact-text h2 {
        font-size: large;
        margin-top: 50px;
    }

    #contact-text p {
        font-size: small;
        margin-top: 30px;
        line-height: 25px;
    }

    #intro-image,
    #about-image,
    #contact-image {
        min-height: 250px;
    }

    #contact-image {
        background-position: top;
    }

    /* Classes page */

    #classes-heading {
        font-size: medium;
    }

    #studio-info {
        font-size: small;
    }

    .schedule td {
        font-size: small;
        line-height: 20px;
    }
}