@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    color: #092813;
    font-family: roboto condensed, arial, sans-serif;
    margin: 0 10% 0 10%;
}

h1 {
    font-family: montserrat subrayada, arial, sans-serif;
    text-transform: capitalize;
    color: #8A7500;
    font-size: 300%;
    float: left; 
}

/* Using #menu li {display: inline-block;} to place the navigation list items in the 
right order without manually changing them in index.html before float to right.
Attribution: https://www.youtube.com/watch?v=LcePFs4vFLg */

#menu li {
    list-style-type: none;
    display: inline-block;
    float: right;  
    margin-left: 40px; 
    text-transform: uppercase; 
    font-size: 150%;
    color: #092813;
}
